$module: "product";

.#{$module} {
    display: flex;
    flex-direction: row;
    height: em(120);
    margin-bottom: em(15);

    border: 1px solid $color-content-bravo;
    border-radius: em($border-radius);
    overflow: hidden;
    opacity: 0;

    @keyframes slideIn {
        from {
            opacity: 0;
            transform: translateX(-5px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    $time: 0.7s;

    &:nth-of-type(1) {
        animation: slideIn $time ease 0s forwards;
    }
    &:nth-of-type(2) {
        animation: slideIn $time ease 0.08s forwards;
    }
    &:nth-of-type(3) {
        animation: slideIn $time ease 0.16s forwards;
    }
    &:nth-of-type(4) {
        animation: slideIn $time ease 0.24s forwards;
    }

    &__status {
        width: em(20);
        height: 100%;

        &--ready-to-try {
            background-color: $color-ready-to-try;
        }

        &--on-the-way {
            background-color: $color-on-the-way;
        }

        &--in-the-queue {
            background-color: $color-in-the-queue;
        }

        &--out-of-stock {
            background-color: $color-out-of-stock;
        }
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: em(10) em(25);
    }

    &__image {
        $size: em(95);
        flex: 0 0 #{$size};
        width: #{$size};
        height: #{$size};
        border-radius: em($border-radius);
        overflow: hidden;

        display: flex;
        place-items: center;
        background-color: white;

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__title,
    &__content-item {
        margin: 0 em(40);
        flex: 1;
        max-width: em(160);
    }

    &__title {
        display: block;
        font-weight: $fw-black;
        margin-right: auto;
    }
    &__detail {
        display: block;
        color: $color-content-bravo;
        font-weight: $fw-bold;
    }

    &__detail--black {
        font-weight: $fw-black;
    }

    &__initials {
        display: block;
        padding: em(10);
        border: 1px solid $color-content-bravo;
        border-radius: em($border-radius);
        font-weight: $fw-bold;
    }
}
