// Colours

$color1: #222222;
$color2: #ffffff;
$color3: #9c9fa7;
$color4: #4bd4b0;
$color5: #65abe9;
$color6: #ff6633;
$color7: #ff0000;

$color-body: $color1;
$color-content-alpha: $color2;
$color-content-bravo: $color3;

$color-affirmative: $color4;

$color-ready-to-try: $color4;
$color-on-the-way: $color5;
$color-in-the-queue: $color6;
$color-out-of-stock: $color7;

// Sizes

$fz-base: 18;

// Weights

$fw-bold: 500;
$fw-black: 700;

$border-radius: 5;
